.layout{
    height:"100vh"
}

.bg-light{
    background-color: white;
    padding: 30px;
    -webkit-box-shadow: -12px 10px 24px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -12px 10px 24px -10px rgba(0,0,0,0.75);
    box-shadow: -12px 10px 24px -10px rgba(0,0,0,0.75);
    border-radius: 10%;
}
.login-bg{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/img/login-background.jpg');
}

.responsive-img{
    width: 100%;
    height: auto;
    padding:20px;
}

.header-color table th{
        /*...all th attributes like padding etc*/
        background-color:darkblue;
}



@media (max-width: 768px) {
    .fixed{
        position: absolute;
    }
}

.form-enter {
    opacity: 0;
    transform: translateX(+10em);
  }
  .form-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .form-exit {
    opacity: 1;
    transform: translateX(0);
  }
  .form-exit-active {
    opacity: 0;
    transform: translateX(-10em);
    transition:opacity 300ms, transform 300ms;
}