
.title-producto h1{
    font-size:80px;
    margin:0;
    /* color: #001529; */
    color:white;
}

.title-producto h2{
    font-size:30px;
    color:white;
}

.row-border-bottom{
    position: relative;
}
.input input{
    color:white
}

.edit-button-icon{
    font-size:60px;
    height: auto;
}

.edit-button{
    width:55px;
    height: auto;
}
@media (max-width: 768px){
    .edit-button-icon{
        font-size:50px;
        height: auto;
    }

    .edit-button{
        width:45px;
        height: auto;
    }
    
    .title-producto h1{
        font-size:50px;
    }
    .margin-top-10px{
        margin-top: 10px;
    }
    .margin-right-10px{
        margin-right: 10px;
    }
}
.row-border-bottom:before {
    content : "";
    position: absolute;
    left    : 20%;
    bottom  : 0;
    height  : 1px;
    width   : 60%;  /* or 100px */
    border-bottom:1.5px solid white;
  }

  .product-bg{
      border-radius: 15px;
    background: linear-gradient( rgba(0, 21, 41, 0.9), rgba(0, 21, 41, 0.9)),url('/img/pattern.jpg');
}

.border-radius{
    border-radius: 15px;
}

.bg-white{
    background-color:white;
}


.form-item .ant-form-item-label > label{
    text-align: center;
}

.red{
    background-color: #ffdbd9;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}